.integrationInfo {
  .sectionHead {
    margin-bottom: 18px;
  }
  &__title {
    margin-bottom: 60px;
  }
  &__text {
    padding: 24px 45px;
    background-color: $secondary;
    color: #fff;
    box-shadow: inset 0 0 20px rgba($text, 0.25);
    border-radius: 10px;
    line-height: 29px;
    margin-bottom: 30px;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }
  &__content-box {
    max-width: 583px;
    width: 100%;
    position: relative;
    p {
      margin-bottom: 24px;
    }
    .integrationInfo__content-boxArrow {
      position: absolute;
      top: 26px;
      right: -74px;
      width: 128px;
      height: 128px;
    }
  }
  &__content-list {
    max-width: 760px;
    li {
      padding-left: 34px;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: $secondary;
      }
    }

    li + li {
      margin-top: 20px;
    }
  }

  @media (max-width: $screen-sm) {
    &__content {
      flex-direction: column;
      gap: 16px;
      p {
        margin-bottom: 0;
      }
    }
    &__content-boxArrow {
      display: none;
    }
    &__content-box {
      max-width: 100%;
      display: flex;
      flex-direction: column-reverse;
      gap: 30px;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
}
