$accent: #a60014;
$light-accent: #9b2d30;
$dark-accent: #59000a;
$secondary: #0089ba;
$text: #242424;
$light-text: #909090;

$default-borderRadius: 48px;

$z-index-menuNodal: 1000;
$z-index-search: 510;
$z-index-searchBg: 500;
$z-index-modal: 1500;

$screen-xs: 414px;
$screen-sm: 768px;
$screen-md: 1024px;
$screen-lg: 1366px;
$screen-xl: 1440px;
