.title {
  font-size: 54px;
  font-weight: 700;
  line-height: 66px;
  text-transform: uppercase;

  @media (max-width: $screen-sm) {
    font-size: 36px;
    line-height: 114%;
  }
}

.title-2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 114%;
}
