.developersProblems {
  margin-bottom: 120px;

  &__item {
    display: grid;
    grid-template-columns: 533px 452px 1fr;
    max-width: 100%;
    width: 100%;
    align-items: stretch;
    font-size: 24px;
    line-height: 114%;
  }
  &__item + .developersProblems__item {
    .developersProblems__item-type {
      padding-top: 60px;
    }
    .developersProblems__item-plus {
      padding-top: 70px;
    }
    .developersProblems__item-minus {
      padding-top: 70px;
    }
  }
  &__item-type {
    display: flex;
    align-items: center;
    gap: 30px;
    padding-right: 48px;
    // font-size: 23px;
    span {
      font-size: 20px;
      line-height: 114%;
    }
  }
  &__item-icon {
    width: 123px;
    height: 123px;
    flex: none;
  }
  &__item-plus {
    color: $light-accent;
    padding: 0 48px;
    padding-top: 10px;
    border-left: 1px solid $light-text;
    border-right: 1px solid $light-text;
  }
  &__item-minus {
    color: $secondary;
    padding-left: 48px;
    padding-top: 10px;
  }

  @media (max-width: $screen-xl) {
    &__item {
      padding: 36px;
      border: 1px solid #909090;
      border-radius: 48px;
      background-color: #fff;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 30px;
      &:not(:nth-child(odd)) {
        .developersProblems__item-type {
          flex-direction: row-reverse;
          justify-content: space-between;
        }
      }
    }
    &__item + .developersProblems__item {
      margin-top: 30px;
    }
    &__item-type {
      grid-column: span 2;
      padding: 0 !important;
    }
    &__item-plus {
      border-left: none;
      padding-left: 0;
    }
    &__item-plus,
    &__item-minus {
      padding: 0 !important;
    }
    &__item-plus {
      padding-right: 30px !important;
    }
  }
  @media (max-width: $screen-sm) {
    &__item {
      font-size: 22px;
    }
    &__item-icon {
      width: 108px;
      height: 108px;
    }
  }
}
