@import '../../shared/Video/styles';

.videoReviews {
  margin-bottom: 120px;
  &__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 30px;
  }

  .defaultButton {
    margin: 0 auto;
  }
}
