.storesProblems {
  margin-bottom: 120px;

  &__item {
    display: flex;
    align-items: center;
    padding: 33px 47px;
    border: 2px solid $light-text;
    border-radius: $default-borderRadius;
    gap: 60px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
  }
  &__item + .storesProblems__item {
    margin-top: 30px;
  }
  &__item-icon {
    width: 184px;
    height: 184px;
    flex: none;
  }
  &__item-content {
    max-width: 100%;
    width: 100%;

    .defaultButton {
      font-weight: 400;
    }
  }
  &__item-head {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    width: 100%;
    margin-bottom: 30px;
    gap: 30px;
  }
  &__item-problem {
    max-width: 459px;
    width: 100%;
  }
  &__item-solution {
    max-width: 490px;
    width: 100%;
    color: $secondary;
  }
  &__item-solution--mobile,
  &__item-icon--mobile {
    display: none;
  }

  @media (max-width: $screen-sm) {
    &__item-solution,
    &__item-icon {
      display: none;
    }

    &__item-solution--mobile,
    &__item-icon--mobile {
      display: block;
    }
    &__item-icon--mobile {
      width: 107px;
      height: 107px;
    }
    &__item-solution--mobile {
      margin-bottom: 30px;
      br {
        display: none;
      }
    }
    &__item-head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 30px;
    }
  }
}
