.questions {
  margin-top: 120px;
  padding: 60px 0;
  background-image: url('../@img/global/Questions-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  color: #fff;

  &__inner {
    display: flex;
    align-items: center;
    gap: 50px;
  }

  &__info {
    font-size: 36px;
    font-weight: 600;
    line-height: 48px;
    max-width: 708px;
    width: 100%;
    span {
      color: $accent;
    }
  }

  &__logic {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;

    .defaultButton {
      margin: 0 auto;
    }
    &-title {
      font-size: 36px;
      font-weight: 700;
    }
  }

  &.extended {
    .questions__logic-quiz {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 24px;
      max-width: 586px;
      width: 100%;
      justify-content: space-between;
      align-items: center;
    }
    .questions__logic-checkbox + .questions__logic-checkbox {
      margin: 0;
    }
    .questions__info span {
      color: $secondary;
    }
    .checkmark {
      width: 24px;
      height: 24px;
      border-radius: 4px;
    }
  }

  @media (max-width: $screen-lg) {
    &__inner {
      flex-direction: column;
    }
    &__info {
      max-width: 100%;
      width: 100%;
      br {
        display: none;
      }
    }
  }
}

.questions__logic-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 24px; /* Размер текста */
  user-select: none;
}

.questions__logic-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  width: 24px;
  height: 24px;
  background-color: white;
  border-radius: 5px;
  margin-right: 10px; /* Отступ между чекбоксом и текстом */
  position: relative;
  flex: none;
}

.questions__logic-checkbox input:checked ~ .checkmark {
  background-color: $accent;
}

.questions__logic-checkbox input:checked ~ .checkmark::after {
  content: '';
  position: absolute;

  left: 3px;
  bottom: 3px;

  width: 25px;
  height: 25px;
  background: url('../@img/icons/check-mark.png') no-repeat center center;
  background-size: contain;
}

.questions__logic-checkbox + .questions__logic-checkbox {
  margin-top: 24px;
}
