.caseResult {
  margin-bottom: 120px;

  &__item {
    display: flex;
    align-items: center;
    gap: 60px;
  }

  &__item + .caseResult__item {
    margin-top: 30px;
  }

  &__item-image {
    width: 123px;
    height: 123px;
    flex: none;
  }
}
