.top {
  padding: 120px 0;

  &.top--rates .top__title {
    text-transform: none;
  }
  &.top--rates .top__subtitle {
    font-weight: 600;
    margin: 30px 0;

    span {
      color: $light-accent;
    }
  }
  &.top--rates .defaultButton {
    margin: 0;
  }

  &.top--case .top__content {
    max-width: 704px;
    margin-left: auto;
  }

  &.top--content .top__info-benefits {
    max-width: 550px;
    margin: 0 auto;
    margin-top: 38px;
  }

  &.top--content .top__info {
    .top__info-benefits {
      display: none;
    }
  }
  &.top--content .top__inner {
    align-items: flex-start;
  }
  &.top--statistics .top__content {
    max-width: 801px;
  }
  &.top--statistics .top__inner {
    align-items: center;
  }
  &__title {
    span {
      color: $light-accent;
    }
    margin-bottom: 30px;
  }
  &__inner {
    display: flex;
    align-items: center;
  }

  &__content {
    max-width: 842px;
    width: 100%;
    margin-top: -30px;
  }

  &__content-list {
    margin-bottom: 47px;
  }

  &__content-listItem {
    position: relative;
    padding-left: 34px;

    span {
      font-weight: 700;
    }

    &::before {
      content: '';
      position: absolute;
      top: 5px;
      left: 0;
      width: 15px;
      height: 15px;
      background-color: $light-accent;
      border-radius: 50%;
    }
  }
  &__content-listItem + .top__content-listItem {
    margin-top: 30px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 28px;

    .defaultButton {
      display: none;
    }
  }
  &__info-image {
    width: 555px;
    height: 555px;
    position: relative;
    // overflow: hidden; // добавлено для предотвращения выхода изображения за границы
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      position: absolute;
      transition: transform 0.1s; // добавлено для плавности перемещения
    }
  }
  &__info-imageBg {
    width: 555px;
    height: 555px;
    background-color: $light-accent;
    border-radius: 50%;
  }

  &__info-benefits {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
  }
  &__info-benefitsItem {
    font-size: 19px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 6px;

    img {
      width: 96px;
      height: 96px;
      margin: 0 auto;
    }
  }

  @media (max-width: $screen-md) {
    &.top--case {
      .top__inner {
        flex-direction: column-reverse;
        gap: 40px;
      }
    }
    &.top--content {
      .top__info {
        .top__info-benefits {
          display: flex;
          margin: 0;
        }
      }
      .top__content {
        .top__info-benefits {
          display: none;
        }
      }
      .top__title {
        br {
          display: none;
        }
      }
    }
    &__inner {
      flex-direction: column;
    }
    &__content {
      max-width: 100%;
      width: 100%;
      .defaultButton {
        display: none;
      }
    }
    &__info {
      max-width: 100%;
      width: 100%;

      .defaultButton {
        display: flex;
      }
    }
    &__info-image {
      margin: 0 auto;
    }
  }
  @media (max-width: $screen-sm) {
    &__info-image {
      width: 440px;
      height: 440px;
    }
    &__info-imageBg {
      display: none;
    }
  }
}
