.sectionHead {
  margin-bottom: 60px;
  padding-bottom: 12px;
  border-bottom: 2.5px solid $light-text;
  display: flex;
  align-items: center;
  gap: 18px;

  &__decor {
    display: flex;
    align-items: center;
    gap: 4px;

    span {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: $light-accent;
    }
  }

  &__breadcrumb {
    color: inherit;
    position: relative;
    display: inline-block;
    padding-right: 42px;
    margin-right: 30px;
    font-weight: 500;

    &::before {
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);

      background-image: url('../@img/icons/breadcrumbs-arrow-icon.svg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;

      width: 9px;
      height: 12px;
    }

    &:last-of-type {
      color: $light-accent;
      padding-right: 0;
      margin-right: 0;
      &::before {
        display: none;
      }
    }
  }
}
