.aboutTop {
  margin: 120px 0;

  &__inner {
    display: flex;
    align-items: stretch;
    gap: 30px;
    justify-content: space-between;
  }

  &__image {
    max-width: 627px;
    width: 100%;
    flex: none;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 704px;
  }

  @media (max-width: $screen-lg) {
    &__inner {
      flex-direction: column-reverse;
      gap: 30px;
    }
    &__image {
      max-width: 100%;
    }
    &__content {
      max-width: 100%;
      width: 100%;

      p + p {
        margin-top: 24px;
      }
    }
  }
}
