<div class="parthnerTabs">
  @@if (tab === "data") {
    <a href="#" class="parthnerTabs__item  active">
  }
  @@if (tab !== "data") {
    <a href="#" class="parthnerTabs__item ">
  }
    Мои данные
  </a>
  @@if (tab === "clients") {
    <a href="#" class="parthnerTabs__item  active">
  }
  @@if (tab !== "clients") {
    <a href="#" class="parthnerTabs__item ">
  }
    Клиенты
  </a>
  @@if (tab === "wallet") {
    <a href="#" class="parthnerTabs__item  active">
  }
  @@if (tab !== "wallet") {
    <a href="#" class="parthnerTabs__item ">
  }
    Кошелек
  </a>
  @@if (tab === "analytics") {
    <a href="#" class="parthnerTabs__item  active">
  }
  @@if (tab !== "analytics") {
    <a href="#" class="parthnerTabs__item ">
  }
    Аналитика
  </a>
</div>