.profit {
  margin-bottom: 120px;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__item {
    display: flex;
    align-items: stretch;
    gap: 11px;
    cursor: pointer;

    &:hover {
      .profit__item-image .profit__item-content {
        opacity: 1;
      }
    }

    &.profit__item--right {
      .profit__item-image img {
        clip-path: polygon(0% 0%, 85% 0%, 100% 50%, 85% 100%, 0% 100%);
      }
    }

    &-image {
      height: 228px;
      width: 49%;
      position: relative;

      .profit__item-content {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        max-width: 100%;
        width: 100%;
        z-index: 100;
        background-color: #fff;
        opacity: 0;
        transition: all 0.3s;
      }

      img {
        border-radius: $default-borderRadius;
        overflow: hidden;
        object-fit: cover;
        clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 15% 100%, 0% 50%);
      }
    }
    &-content {
      padding: 0 38px;
      width: 49%;
      border: 2px solid $light-text;
      border-radius: $default-borderRadius;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 5px;
    }
    &-contentTitle {
      font-weight: 600;
      text-align: left;
      font-size: 36px;
      line-height: 1.2;
    }
  }

  @media (max-width: $screen-lg) {
    &__content {
      gap: 30px;
    }
    &__item {
      flex-direction: column;

      &:nth-child(3),
      &:nth-child(4) {
        flex-direction: column-reverse;
      }
    }
    &__item-content {
      max-width: 100%;
      width: 100%;
      height: 203px;
    }
    &__item--right {
      .profit__item-image img {
        clip-path: polygon(100% 0, 100% 75%, 50% 100%, 0 75%, 0 0) !important;
      }
    }
    &__item-image {
      max-width: 100%;
      width: 100%;
      height: 203px;
      img {
        object-fit: cover;
        width: 100%;
        height: 203px;
        clip-path: polygon(50% 0, 100% 28%, 100% 100%, 0 100%, 0 28%);
      }
    }
  }
  @media (max-width: $screen-sm) {
    &__item-content {
      height: 280px;
    }
    &__item-image {
      height: 280px;
      img {
        height: 280px;
      }
    }
  }
}
