@import '../../../app/styles/libs/swiper';

.aboutCompetencies {
  margin-bottom: 120px;

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  &__menu-item {
    padding: 12px 42px;
    border-radius: 100px;
    display: inline-block;

    &:not(.active) {
      cursor: pointer;
    }
    &.active {
      background-color: $secondary;
      color: #fff;
      font-weight: 700;
    }
  }
  &__slider {
    margin: 0;
  }
  &__sliderWrapper {
    max-width: 1000px;
  }

  .swiper-slide {
    height: auto;
    display: flex;
  }
  .swiper-wrapper {
    padding-bottom: 60px;
  }

  &__controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  &__controls-arrow {
    cursor: pointer;
  }
  &__controls-pagination {
    width: auto !important;
    height: auto !important;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;

    .swiper-pagination-bullet {
      width: 9px;
      height: 9px;
      opacity: 1;
      background-color: #fff;
      border: 2px solid $secondary;

      &:not(.swiper-pagination-bullet-active) {
        margin-top: -0.2px;
      }
    }
    .swiper-pagination-bullet-active {
      width: 12px;
      height: 12px;
    }
  }

  @media (max-width: $screen-lg) {
    &__box {
      flex-direction: column-reverse;
    }
    &__menu {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 30px;
      margin-bottom: 30px;
    }
    &__menu-item {
      border: 1px solid #000;
      &.active {
        border: none;
      }
    }
    &__item {
      max-width: 500px;
      margin: 0 auto;
    }
  }
}
