.caseText {
  margin-bottom: 120px;
  &__content {
    display: flex;
    gap: 60px;
  }
  &__image {
    width: 123px;
    height: 123px;
    flex: none;
  }

  @media (max-width: $screen-sm) {
    &__content {
      display: block;
    }
    &__image {
      margin-right: 30px;
      margin-bottom: 30px;

      float: left;
    }
  }
}
