.licenseStages {
  &__title {
    margin-bottom: 60px;
    font-size: 54px;
    line-height: 66px;
    font-weight: 700;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 120px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 350px;
    width: 100%;
    text-align: center;

    &-icon {
      width: 179px;
      height: 179px;
      margin-bottom: 30px;
    }
  }

  &-banner {
    position: relative;
    display: flex;
    justify-content: flex-end;
  }
  &-banner__inner {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &-banner__image {
    position: relative;
    max-width: 801px;
    width: 100%;
    right: 0;
    color: #fff;
    ul {
      margin-top: 30px;
    }

    li + li {
      margin-top: 24px;
    }
  }
  &-banner__imageContent {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
    padding: 41px 86px;
  }
  &-banner__content {
    max-width: 616px;
    width: 100%;
  }
  &-banner__title {
    font-weight: 600;
    margin-bottom: 30px;
  }
}
