.cooperationAbout {
  &__team {
    max-width: 627px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  &__team-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 43.88px;
  }

  &__box {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 120px;
  }

  &__parthners {
    span {
      display: block;
      margin-bottom: 23px;
    }
  }
  &__mobileParagraph {
    display: none;
  }

  .aboutPrinciples__counter {
    span,
    sup {
      color: $secondary;
    }
  }

  @media (max-width: $screen-lg) {
    &__box {
      flex-direction: column;
    }
    .sectionHead {
      display: none;
    }
    &__team {
      max-width: 100%;
      width: 100%;

      p {
        display: none;
      }
    }
    &__mobileParagraph {
      display: block;
      margin-top: -50px;
    }
  }

  @media (max-width: $screen-sm) {
    &__team-title {
      font-size: 26px;
    }
  }
}
