.licenseBenefits {
  background-image: url('../@img/global/license/license-benefits-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  padding: 92px 0;
  margin: 120px 0;

  color: #fff;

  &__title {
    font-size: 54px;
    line-height: 66px;
    font-weight: 700;
    text-align: center;

    margin-bottom: 60px;
  }
  &__item {
    display: flex;
    align-items: center;
    gap: 60px;
  }
  &__item-icon {
    width: 128px;
    height: 128px;
    flex: none;
  }

  &__item + .licenseBenefits__item {
    margin-top: 60px;
  }
}
